<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base:: layout(~{:: section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 ">
			<div class="row">
				<div class="col-md-6  offset-md-3">
					<div class="card  shadow-lg  rounded">
						<div class="card-body pe-5 ps-5">
							<h2 class="text-center text-muted">Login</h2>
							<!--Start  Alert  -->
							<!-- login error -->
							<div th:if="${error}!=null" class="alert alert-danger d-flex align-items-center" role="alert">
							  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
							    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
							  </svg>
							  <div>
							    <span th:text="${error}"></span>
							  </div>
							</div>
							<!-- logout success -->
							<div th:if="${success}!=null" class="alert alert-success d-flex align-items-center" role="alert">
							  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
							      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
							  </svg>
							  <div>
							    <span th:text="${success}"></span>
							  </div>
							</div>
							
							<!-- End  Alert  -->
							<form th:action="@{/user/dologin}" method="post">
								<div class="border border-success rounded-3 px-5 mt-4 py-3">
									<!-- start field -->
									<div class="mb-3 mt-3">
										<label for="nameField" class="form-label">Enter Email</label>
										<input type="email" class="form-control" id="nameField"
											placeholder="Enter Here" name="userEmail" required="required">
									</div>
									<div class="mb-3">
										<label for="emailField" class="form-label">Enter
											Password</label> <input type="password" class="form-control"
											id="emailField" placeholder="Enter Here" name="userPassword"
											required="required">
									</div>
									<div class="form-check mb-3">
										<input class="form-check-input" type="checkbox" value=""
											id="flexCheckDefault"> <label
											class="form-check-label" for="flexCheckDefault">
											Remember Me </label>
									</div>

								</div>
								<div class="mb-3 mt-3 text-center">
									<button type="submit" class="btn btn-primary ms-5">&nbsp;Login&nbsp;</button>
									<button type="reset" class="btn btn-warning ms-2">&nbsp;Reset&nbsp;</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
</body>
</html>